.App {
    display: flex;
    flex-direction: column;

    align-items: stretch;
    min-height: 100vh;
    background-color: #e5e6ec;
}

.App-Content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 100%;
    max-width: 1080px;
    margin: 16px auto;
    gap: 24px;
}

.App-Topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1080px;
    padding: 16px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
    background-color: #f0f1f5;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.05);
}

.left-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.title {
    color: #a9adb9;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
}

.right-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 12px;
}

.icon {
    transition: all 0.2s;
    cursor: pointer;
}

.icon:hover {
    filter: brightness(0.9);
}

.icon:active {
    filter: brightness(0.8);
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
